*{margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
ul{list-style: none;}

body{font-size: 13px;
    line-height: 22px;
    font-family: '나눔고딕';
    color: rgb(16, 16, 16);
}

/* 탑 */
.top{width: 1200px; margin: 0 auto; height: 45px;}
.link1{float: right;}
.link1 li{float: left;}
.link1 li a{display: block; color: gray; padding-left: 20px; padding-top: 11px;}
.link1 li a:hover{color: #ccc;}

/* 로고 */
.logo{width: 1200px; display: flex; margin: 0 auto; justify-content: center; height: 130px;}

/* 헤더 */

.header{
    width:100%;
    height:70px; /*수정*/
    font-size:20px;
    box-sizing:border-box;
	border-bottom: 1px solid #ccc;
	text-align:center;
    margin:0 auto;
    position:relative;}

.main_nav >ul{overflow:hidden; width:1200px; margin:0 auto;}
.main_nav >ul> li{float:left;width:20%;}
.main_nav >ul> li> a{display:block; color:black;padding:15px 0px; font-weight: 600; font-size:18px; text-align:center;}

.main_nav >ul >li> a:hover{color: #e50271;}

.sub{width:100%; position:absolute; top:50px;  left:0; background: black;  display: none; border-bottom: #e50271 solid 3px;}
.sub_menu{ width:1200px; margin:0 auto;}
.sub_menu .menu{float:left; text-align:center; width:20%;}

.sub_menu .menu >li> a{display:block;  font-size:15px; padding:15px 0px; text-align:center;
					background:black; 
}

.menu >li> a{color:#e50271;}
.menu> li> a:hover{color: white;}

/* 헤더 끝 */

/* 본문 시작 */

.banner{width: 100%; text-align: center; height: 250px; margin: 20px 0; }

.search{width: 100%; margin: 0 auto; height: 50px; display: flex; justify-content: center; border-bottom: 1px solid #ccc;}

.search select{display: inline-block; padding: 5px; font-size: 16px;}
.textbox{display: inline-block; padding: 7px 10px 6px 10px; margin-left: 15px;}
.search a{display: inline-block; font-size: 16px; background-color: #e50271; color: white; padding: 5px 15px; margin-left: -5px;}



.content1{width: 1000px; height: 300px; margin: 100px auto;  box-sizing: border-box; border: #ccc solid 2px; padding: 17px; }
.content1 img{float: left; padding-left: 20px;}
.text1{float: left; margin-left: 25px;}
.text1 h3{font-size: 17px; margin: 25px 0;}
.text1 h4{font-size: 15px; margin: 25px 0;}
.text1 p{font-size: 16px; line-height: 28px;}
span{font-weight: 600; padding-right: 7px; margin-right: 3px; border-right: #ccc 1px solid;}
.bullet{ float: right; font-size: 17px; display: inline-block; border: black 1px solid; color: #e50271; padding:  5px 20px; font-weight: bold;}
.bullet:hover{color: white; background-color: black;}




.content2{width: 1000px; height: 300px; margin: 100px auto;  box-sizing: border-box; border: #ccc solid 2px; padding: 17px;}
.content2 img{float: left; padding-left: 20px;}
.text2{float: left; margin-left: 25px;}
.text2 h3{font-size: 17px; margin: 25px 0;}
.text2 h4{font-size: 15px; margin: 25px 0;}
.text2 p{font-size: 16px; line-height: 28px;}


.content3{width: 1000px; height: 300px; margin: 100px auto;  box-sizing: border-box; border: #ccc solid 2px; padding: 17px;}
.content3 img{float: left; padding-left: 20px;}
.text3{float: left; margin-left: 25px;}
.text3 h3{font-size: 17px; margin: 8px 0;}
.text3 h4{font-size: 15px; margin: 25px 0;}
.text3 p{font-size: 16px; line-height: 28px;}








/* 풋터 */

.fotter{width: 100%; height: 500px; border-top: 1px solid #ccc;}
.fotter_inner{width: 1200px; margin: 0 auto; height: 500px;  position: relative;}


.link2{position: absolute; top: 20px; left: 0%; width: 900px; text-align: center;} 
.link2_inner{float: left; padding:  10px 0px; box-sizing: border-box; width: 176px; height: 212px; border-right: 1px dotted #ccc;}
.link2_inner a{ display: block; color: gray;}
.link2_inner a:hover{color: #ccc;}
.word1{font-size: 17px; font-weight: bold;}




.box5{position: relative; top: 0; left: 900px; width: 300px; height: 200px; background: url(../images/icon4.jpg) no-repeat 200px 100px; padding: 30px;}
.box5 h1{color: #e50271; font-size: 31px; }
.box5 p{color: gray; font-size: 14px; line-height: 30px; padding-top: 30px;}

.bottom{position:absolute; bottom: 20px; left: 50%; margin-left: -227.5px; text-align: center; font-size: 12px; color: gray;}
.bottom p{padding-bottom: 5px;}
.bottom a img{padding-top: 20px;}



